/* Common styles for both sections */
.section1,
.section2 {
  display: flex;              
  flex-direction: column;     
  justify-content: center;    /* Center the content vertically */
  align-items: center;        /* Center the content horizontally */
  width: 100%;                /* Make the sections take up the full width of the viewport */
  height: 100vh;              /* Make the sections take up the full height of the viewport */
}

/* Specific styles for section 1 */
.section1 {
  background-color: var(--background-color);  
}

/* Specific styles for section 2 */
.section2 {
  background-color: var(--background-color); 
}
