/* Common styles for both sections */
.section1,
.section2,
.introduction {
  display: flex;              
  flex-direction: column;     
  justify-content: center;    /* Center the content vertically */
  align-items: center;        /* Center the content horizontally */
  width: 100%;                /* Make the sections take up the full width of the viewport */
  height: fit-content;              
}

/* Specific styles for section 1 */
.section1 {
  background-color: var(--background-color);  
}

/* Specific styles for section 2 */
.section2 {
  background-color: var(--background-color); 
}

/* Specific for the introduction section */
.introduction {
  background-color: var(--introduction-background-color);  
  padding: 25vmin 0 25vmin 0;
}