/* The .pageWrapper class sets up a grid container that includes the Navbar and main content */
.pageWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
  
/* The .container class sets up a CSS Grid container for the layout */
.container {
  display: grid;                      /* Use CSS Grid for the layout */
  grid-template-columns: 1fr 8fr 1fr; /* Define the width ratio of the three columns */
}

/* The .mainContent class styles the main content area */
.mainContent {
  display: flex;              /* Use Flexbox for the content layout */
  flex-direction: column;     /* Align the content vertically in a column */
  justify-content: center;    /* Center the content vertically */
  align-items: center;        /* Center the content horizontally */
}

/* The .leftColumn and .rightColumn classes style the side columns */
.leftColumn,
.rightColumn {
  background-color: var(--background-color); /* Set the background color for the side columns */
  min-height: 100vh;          /* Set the minimum height to fill the viewport */
}

/* Media query to hide side columns on smaller screens */
@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr; /* Set the width ratio to display only the main content */
  }

  .leftColumn,
  .rightColumn {
    background-color: var(--background-color); /* Set the background color for the side columns */
    min-height: 10vh;          /* Set the minimum height to fill the viewport */
  }
}
