.rightColumn {
    background-color: transparent;
    position: fixed;
    bottom: 0; /* Change this to position the menu at the bottom of the screen */
    right: 0;
    margin-bottom: 10vh; /* Add this to separate the menu from the bottom edge */
    height: 100vh;
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-end; /* Change this to position items at the bottom */
    font-family: var(--font-mono);
    padding-right: 10px;
  }
  
  .item {
    cursor: pointer;
    color: var(--navigation-bar-text-color);
    font-size: 2.5rem; /* Increase the font size of the icons */
    margin: 0.5rem;
    transition: color 0.3s ease, opacity 0.5s ease, transform 0.5s ease;
    opacity: 0;
    transform: translateX(100%); /* Change this to set initial position to right */
    text-align: right; /* Add this to align text to the right */
  }
  
  .item:hover {
    color: var(--navigation-bar-text-hover-color);
  }
  
  /* Add a delay to each item */
  .item:nth-child(1) {
    animation: slideInFromRight 0.5s 2.5s forwards;
  }
  
  .item:nth-child(2) {
    animation: slideInFromRight 0.5s 2.0s forwards;
  }
  
  .item:nth-child(3) {
    animation: slideInFromRight 0.5s 1.5s forwards;
  }

  .item:nth-child(4) {
    animation: slideInFromRight 0.5s 1.0s forwards;
  }

  .item:nth-child(5) {
    animation: slideInFromRight 0.5s 0.5s forwards;
  }
  
  /* Add keyframes for the slideInFromRight animation */
  @keyframes slideInFromRight {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @media screen and (max-width: 767px) {
    .rightColumn {
      position: static; /* Reset position to the default */
      width: 100%; /* Make it full width */
      height: auto; /* Reset height to auto */
      margin-bottom: 0; /* Reset margin to 0 */
      padding-right: 0; /* Reset padding to 0 */
      flex-direction: row; /* Change flex direction to row */
      justify-content: center; /* Center items horizontally */
    }
  }